<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Hotel_Booking_DemoEntities" connectionString="metadata=res://*/Hotel_Booking.csdl|res://*/Hotel_Booking.ssdl|res://*/Hotel_Booking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IDCSQL3.ZNetLive.com,1234;initial catalog=Hotel_Booking_Demo;persist security info=True;user id=Hotel_Booking_D;password=Hotel_Booking@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>